### Nix template
# Ignore build outputs from performing a nix-build or `nix build` command
result
result-*

# Ignore nohup
nohup.out

# IDE and Editors
.vscode
.idea

# Direnv
.direnv

# Git hooks
.pre-commit-config.yaml

# Swap
*.swp

# Secrets
*.retard

# Testing
/test
